---
import { CollectionEntry, getCollection } from "astro:content";
import BlogLayout from "@layout/BlogLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const frontmatter = post.data;
const { Content, headings } = await post.render();
---

<BlogLayout
  title={frontmatter.title}
  date={frontmatter.date}
  description={frontmatter.description}
  url={post.slug}
  tags={frontmatter.tags}
>
  <div class="col-span-3">
    <Content />
  </div>
  <div class="relative">
    {headings && headings.length > 0 && <TableOfContents {headings} />}
  </div>
</BlogLayout>
