---
import Layout from "@layout/Layout.astro";
import ArticleComponent from "@components/ArticleComponent.astro";

interface Props {
  title: string;
  description: string;
  url: string;
  tags: string;
  date: string;
  readTime: string;
}

const { title, description, url, tags, date, readTime } = Astro.props;
---

<Layout {title} {description} {url}>
  <main class="flex flex-col items-start justify-center mx-auto max-w-5xl">
    <ArticleComponent 
      title: {title}
      tags: {tags}
      date: {date}
      readTime: {readTime}
    />
    <article
      class="grid grid-cols-4 max-w-6xl prose-sm md:prose-md lg:prose-lg prose-headings:font-extrabold"
    >
      <slot />
    </article>
  </main>
</Layout>
